body {
  background: radial-gradient(circle, #87ceeb, #1e90ff);
}

#gameArea {
  cursor: url("blank_cursor.ico"), auto;
  margin: auto;
  width: 945px;
  height: 635px;
  border: solid 3px white;
  border-radius: 10px;
}

#ball {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 300px;
  background: radial-gradient(circle at 30% 30%, #fff9cb 0%, #f8ff76 45%, #e8d92e 100%);
  border-radius: 50%;
}

#paddle {
  width: 100px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 610px;
  left: 600px;
  border-radius: 8px;
  overflow: hidden;
}

#paddle::before,
#paddle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: red;
  top: 0;
}

#paddle::before {
  left: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#paddle::after {
  right: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#brickAnchor {
  position: absolute;
  display: flex;
  gap: 2px;
}

.brick {
  width: 50px;
  height: 15px;
  background-color: blue;
  border-radius: 5px;
  transition:
    background-color 0.5s ease,
    transform 0.3s ease;
}

.fade-out {
  transform: scale(0);
  opacity: 0;
}

#scoreBoard {
  text-align: center;
  font-family: Arial, serif;
  font-size: 12px;
  font-weight: bold;
}

.shrink {
  animation: shrinkOut 0.25s forwards;
}

@keyframes shrinkOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
